*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    width: 200px;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    background-color: beige;
    color: black;
}

ul{
    list-style: none;
}

nav{
    margin: 30px;
    display: inline-block;
}

.m{
    text-align: center;
    border: solid rgb(187, 187, 125) 2px; 
     
}

.me li a:hover{
    background-color: rgb(216, 216, 216);    
}

.sub{
    height: 0px;
    overflow: hidden;
    transition: height 3s; 
}

.sub a{
    background-color: rgb(206, 127, 127);
}

.m:hover .sub{
    /* display: block;
    opacity: 1; */
    height: 190px;
    
}
